  .datagrid {
        overflow-x:hidden;  
        /*border:solid 1px #D0D0D0;*/ /*to be removed*/

        border-style:solid;border-width:1px;border-color:#D0D0D0;
        }

            .datagrid table {
            table-layout:fixed;
            border-collapse:collapse;

            font-family:Tahoma;font-size:8pt;color:#404080;
            border:solid 1px #D0D0D0;
            }

               .datagrid table tr td {
    border-right-style:solid;border-right-width:1px;border-right-color:#D0D0D0;text-align:center;cursor:pointer;font-weight:bold;background-color:#F7F6FF;
    box-shadow: 0px 0px 1px #D0D0D0 inset;   
}

        .datagrid-con {
        overflow-y:auto;  
        overflow-x:auto;
        /*border:solid 1px #D0D0D0;*/ /*to be removed*/

         border-style:solid;border-width:1px;border-color:#D0D0D0;
        }

        .datagrid-con table{
        table-layout:fixed;
        border-collapse:collapse;

        font-family:Tahoma;font-size:8pt;color:#404080;
        border:solid 1px #D0D0D0;
        }

          .datagrid-con table tr{
    height:22px;
}
            .datagrid-con table tr td {
    border:solid 1px #D0D0D0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#4040FF;text-align:left;
    /*padding-left:2px;*/

}

            .datagrid-con select {
    width:100% !important;

}
.datagrid-con table tr:nth-child(odd){ background-color:#FEFEFE; }
.datagrid-con table tr:nth-child(even){ background-color:#F9F9F9; }
.datagrid-con table tr td:first-child{ background-color:#F7F6FF;border:solid 1px #D0D0D0;cursor:pointer;color:blue;text-align:center; 
      box-shadow: -1px 2px 3px #D0D0D0 inset;                                 

}
.datagrid-con table tr:first-child{ height:1px; }

     .selected-tr {
            background-color:#DBDBDB !important;
        }

          .cellEditing input[type=text],.drop-ind{
    width:100%;
    border:0;
    /*height:inherit;*/
    height:17px;
    background-color:inherit;
    font-family:inherit;
    font-size:inherit;
    color:inherit;
    outline:none;
    background-color:rgb(255,253,210); /*to be removed*/
}

          
        .data-is-wrong{
 background-color:rgb(255,253,210);
 background-image:url('../images/comment.gif');
 background-repeat:no-repeat;background-position:top right;
 cursor:pointer;
}

.drop-dropAtt {
text-align:center !important;
}


#attend-tab-ttab [cid=c0]{
color:blue !important;
}
#attend-tab-ttab [cid=c9],[cid=c11],[cid=c12]{
color:black !important;
}
 #attend-tab-ttab [cid=c1],[cid=c2],[cid=c3],[cid=c4],[cid=c5],[cid=c6],[cid=c7],[cid=c8],[cid=c10],[cid=c13],[cid=c14]{
color:red !important;
}

